{% extends 'pages/base.html' %}
    {% block title %}
        <title>Categories</title>

    {% endblock title %}
{% block Content %}

        <div class="container">
     <h2>Full Category</h2>


    <table class="table table-info table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">See Category item</th>
        </tr>
        </thead>
        <tbody>
{#{% for obj in object_list %}#}
{% for obj in full_categories %}
<tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ obj.name|title }}</td>
                <td><a href="{% url 'categories_edit' obj.pk %}">Edit</a> </td>
               <td> <a href="{% url 'categories_delete' obj.pk %}">Delete</a> </td>
                 <td> <a href="{% url 'categories_item' obj.pk %}">See Categories</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <br>
    <br>
    <br>
    <div class="container">
    <h2>EmptyCategory</h2>
    <table class="table table-danger table-striped">
               <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Category</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
            <th scope="col">See Category item</th>
        </tr>
        </thead>
        <tbody>
{#{% for obj in object_list %}#}
{% for obj in empty_categories %}
<tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ obj.name|title }}</td>
                <td><a href="{% url 'categories_edit' obj.pk %}">Edit</a> </td>
               <td> <a href="{% url 'categories_delete' obj.pk %}">Delete</a> </td>
                 <td> <a href="{% url 'categories_item' obj.pk %}">See Categories</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{#    <h2>Full Category</h2>#}
{#{% for obj in object_list %}#}
{#{% for obj in full_categories %}#}
{#<div class="card">#}
{#            <div class="card-header">#}
{#                <span class="font-weight-bold">{{ obj.name }}</span>#}
{#            </div>#}
{#            <div class="card-footer text-center text-muted">#}
{#                <a href="{% url 'categories_edit' obj.pk %}">Edit</a> |#}
{#                <a href="{% url 'categories_delete' obj.pk %}">Delete</a> |#}
{#                    <a href="{% url 'categories_item' obj.pk %}">See Categories</a>#}
{#            </div>#}
{#        </div>#}
{#        <br/>#}
{##}
{#{% endfor %}#}
{#    <br>#}
{#    <h2>EmptyCategory</h2>#}
{##}
{#    {% for obj in empty_categories %}#}
{#<div class="card">#}
{#            <div class="card-header">#}
{#                <span class="font-weight-bold">{{ obj.name }}</span>#}
{#            </div>#}
{#            <div class="card-footer text-center text-muted">#}
{#                <a href="{% url 'categories_edit' obj.pk %}">Edit</a> |#}
{#                <a href="{% url 'categories_delete' obj.pk %}">Delete</a> |#}
{#                    <a href="{% url 'categories_item' obj.pk %}">See Categories</a>#}
{#            </div>#}
{#        </div>#}
{#        <br/>#}
{##}
{#{% endfor %}#}

{% endblock Content%}