{% extends 'pages/base.html' %}
    {% block title %}
        <title>Category item</title>

    {% endblock title %}
{% block Content %}
    <div class="container">
        <h2>Tasks : </h2>
        <table class="table table-danger table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Task</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for obj in object %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ obj.title|title }}</td>
                    <td><a href="{% url 'task_edit' obj.pk %}">Edit</a></td>
                    <td><a href="{% url 'task_delete' obj.pk %}">Delete</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Back to <a href="{% url 'categories_list' %}">Categories</a></p>
    </div>
    {#{% for obj in object %}#}
    {#<div class="card">#}
    {#            <div class="card-header">#}
    {#                <span class="font-weight-bold">{{ obj }}</span>#}
    {#                <span class="text-muted">by {{ obj.author }} |#}
    {#                    {{ obj.date }}</span>#}
    {#            </div>#}
    {#            <div class="card-body">#}
    {#                {{ obj.description }}#}
    {#            </div>#}
    {#            <div class="card-footer text-center text-muted">#}
    {#                <a href="#">Edit</a> | <a href="#">Delete</a>#}
    {#            </div>#}
    {#            <div class="card-footer text-center text-muted">#}
    {#                <a href="{% url 'article_edit' article.pk %}">Edit</a> |#}
    {#                <a href="{% url 'article_delete' article.pk %}">Delete</a>#}
    {##}
    {#            </div>#}
    {#        </div>#}
    {#        <br/>#}
    {#{% empty %}#}
    {#    <li>No Task in this Category.</li>#}
    {#{% endfor %}#}
    {#    <p>Back to <a href="{% url 'categories_list' %}">Categories</a></p>#}

{% endblock Content %}